@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --header-height: 3rem;
  --primary-color: #ecf9ff;
  --secondary-color: #02a6dc;
  --tertiary-color: #fffffe;
  --text-color: #333333;
  --light-text-color: #868686;

  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  --icon-font-sm-size: 1.3rem;
  --icon-font-md-size: 2rem;

  --box-shadow-1: 0px 4px 12px rgba(0, 0, 0, 0.08); /*x y blur color*/
  --border-rd: 0.25rem; /*border radius */

  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  letter-spacing: 0.35px;
  font-weight: var(--font-medium);
  background-color: var(--tertiary-color);
  color: var(--text-color);
  min-height: 100vh;
  line-height: 1.6;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
}

h2,
h3 {
  font-weight: var(--font-semi-bold);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

ul {
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
/* -------------------------------- Common styles --------------------------------- */

.section {
  padding: 4rem 0 2rem;
}

.section-title,
.section-subtitle {
  text-align: left;
}

.section-title {
  font-size: var(--h1-font-size);
  color: var(--text-color);
  margin-bottom: var(--mb-3);
}

.section-subtitle {
  display: block;
  font-size: var(--smaller-font-size);
  font-weight: var(--font-semi-bold);
}

/* -------------------------------- Layout --------------------------------- */
.bd-container {
  max-width: 1024px;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.bd-grid {
  display: grid;
  display: -ms-grid;
  gap: 1.5rem;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--tertiary-color);
}

/* -------------------------------- Nav --------------------------------- */
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 765px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding-top: 1.5rem;
    text-align: center;
    background-color: var(--tertiary-color);
    transition: 0.4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 var(--border-rd) var(--border-rd);
  }
}

.nav__item {
  margin-bottom: var(--mb-3);
}

.nav__link {
  color: var(--text-color);
  transition: 0.3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
}

.nav__link:hover {
  color: var(--secondary-color);
}

.nav__logo,
.nav__toggle {
  color: var(--secondary-color);
  font-size: var(--icon-font-sm-size);
}

.nav__toggle {
  font-size: var(--icon-font-sm-size);
  cursor: pointer;
}

/* -------------------------------- Menu --------------------------------- */

.show-menu {
  top: var(--header-height); /* toggle class for menu */
}

.active-link {
  position: relative; /* active menu links */
}

.active-link::after {
  content: "";
  position: absolute;
  bottom: -0.55rem;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--secondary-color);
}
/* -------------------------------- change bg header --------------------------------- */

.scroll-header {
  background-color: var(--tertiary-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
}

.scroll-header .nav__logo,
.scroll-header .nav__toggle,
.scroll-header .nav_link {
  color: var(--secondary-color);
}

.scroll-header .nav__menu {
  background-color: var(--tertiary-color);
}

/* -------------------------------- Scroll to top --------------------------------- */
.scrolltop {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background: var(--secondary-color);
  opacity: 0.6;
  border-radius: var(--border-rd);
  z-index: var(--z-tooltip);
  transition: 0.4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  visibility: hidden;
}

.scrolltop__icon {
  font-size: 2rem;
  color: var(--tertiary-color);
}

.show-scroll {
  /* show scroll button*/
  visibility: visible;
  bottom: 1.5rem;
}
/* -------------------------------- home --------------------------------- */

  /* .home__container {
  display: flex;
  flex-direction: column-reverse; 
  height: calc(100vh - var(--header-height));
  min-height: calc(100vh + var(--header-height)); 
}*/

.home__container > * {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.home__data {
  margin: 25% 5% 30%;
  padding: 1rem 0.5rem;
  border-radius: var(--border-rd);
  text-align: center;
  z-index: var(--z-tooltip);
  background-color: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
}
.home__heading {
  font-size: var(--biggest-font-size);
}
.home__subheading {
  font-size: var(--h2-font-size);
  font-weight: var(--font-regular);
  padding: 0 0 1.5rem;
}

.home__button {
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  margin: 5px;
}
.home__button span:after {
  content: "\226B";
  position: absolute;
  top: 0;
  bottom: 0;
  right: -20px;
  opacity: 0;
  transition: 0.5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
}
.home__button:hover span:after {
  opacity: 1;
  right: 0;
}

/* -------------------------------- buttons --------------------------------- */

.button {
  border-radius: var(--border-rd);
  letter-spacing: 1px;
  border: none;
  text-align: center;
  padding: 0.75rem 1rem;
  cursor: pointer;
  font-size: var(--small-font-size);
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
}
.button:hover span {
  padding-right: 25px;
}

/* -------------------------------- about --------------------------------- */
.about__data {
  text-align: left;
}

.about__data > * {
  margin-bottom: var(--mb-3);
}

.about__description span {
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--text-color);
}

.about__number {
  font-size: var(--h1-font-size);
}

.about__img {
  justify-self: left;
  width: 220px;
  border-radius: var(--border-rd);
  margin-left: 10px;
  box-shadow: -10px -10px var(--secondary-color);
}

.about__subsection span {
  font-weight: var(--font-semi-bold);
  font-size: var(--h3-font-size);
}

.about__container {
  margin-bottom: 2rem;
}

.tabinator input {
  display: none;
}
.tabinator label {
  box-sizing: border-box;
  font-weight: var(--font-semi-bold);
  display: inline-block;
  padding: 15px 25px;
  color: #999999;
  margin-bottom: -1px;
}
.tabinator label:before {
  content: "";
  display: block;
  width: 100%;
  /*   height:15px; */
  background-color: #fffffe;
  position: absolute;
  bottom: -11px;
  left: 0;
  z-index: 10;
}
.tabinator label:hover {
  color: var(--text-color);
  cursor: pointer;
}
.tabinator input:checked + label {
  position: relative;
  color: var(--secondary-color);
  background: var(--primary-color);
  border: none;
  border-radius: var(--border-rd) var(--border-rd) 0 0;
}
.tabinator input:checked + label:after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#content1,
#content2,
#content3,
#content4 {
  display: none;
  padding: 15px;
}

.tabinator__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tabinator__list > * {
  padding: 0.5rem;
}

.tabinator__list li::before {
  display: inline-block;
  content: "";
  -webkit-border-radius: 25%;
  border-radius: 25%;
  height: 0.5rem;
  width: 0.5rem;
  margin-right: 0.8rem;
  background-color: var(--secondary-color);
}
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
  padding: 2rem 1rem;
  background-color: var(--primary-color);
  border-radius: 0 var(--border-rd) var(--border-rd);
}

/* -------------------------------- get started --------------------------------- */
.getstarted {
  color: var(--text-color);
}

.getstarted .section-subtitle,
.getstarted .section-title {
  color: var(--text-color);
}

.getstarted__data {
  padding: 3rem 1rem;
  background-color: var(--tertiary-color);
  border-radius: var(--border-rd);
  text-align: center;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  transition: 0.4s;
  box-shadow: var(--box-shadow-1);
}

.getstarted__icon,
.getstarted__title {
  margin-bottom: var(--mb-2);
}
.getstarted__icon {
  font-size: var(--icon-font-md-size);
  color: var(--secondary-color);
}

.getstarted__description {
  margin-bottom: var(--mb-4);
  font-size: var(--small-font-size);
}
.getstarted__data:hover {
  transform: translateY(-0.5rem);
  -webkit-transform: translateY(-0.5rem);
  -ms-transform: translateY(-0.5rem);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}
/* -------------------------------- testimonials --------------------------------- */
.testimonial__container {
  background-color: var(--primary-color);
  border-radius: var(--border-rd);
}

.testimonial__content {
  display: grid;
  display: -ms-grid;
  padding: 2rem 1rem;
  text-align: center;
}

.testimonial__img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  justify-self: center;
  margin-bottom: var(--mb-1);
}

.testimonial__icon {
  font-size: var(--icon-font-md-size);
  color: var(--secondary-color);
  margin-bottom: var(--mb-3);
}

.testimonial__client {
  font-size: var(--small-font-size);
  color: var(--light-text-color);
  margin-bottom: var(--mb-2);
}

.swiper-pagination {
  position: initial;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--mb-1);
}

.swiper-pagination .swiper-pagination-bullet {
  opacity: 0.4;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: var(--secondary-color);
  opacity: 1;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

/* -------------------------------- contact --------------------------------- */

.contact__wrapper {
  /* box-shadow: var(--box-shadow-1); */
  border-radius: var(--border-rd);
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact__info {
  background-color: var(--tertiary-color);
  padding: 0 1rem 0 0;
}

.contact__subheading,
.contact__info ul {
  text-align: left;
  margin: 0 0 var(--mb-2) 0;
}

.contact__info li {
  margin: 0 0 var(--mb-2) 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.contact__icon {
  font-size: var(--icon-font-sm-size);
  color: var(--secondary-color);
  margin-right: var(--mb-2);
}

.icon {
  display: flex;
}

.contact__title {
  font-size: var(--h3-font-size);
  margin: var(--mb-1) 0;
}

.contact__para {
  text-align: left;
  font-weight: var(--font-regular);
  margin-bottom: var(--mb-2);
}

.contact_form {
  display: flex;
  flex-direction: column;
}

.form__input,
.form__button {
  outline: none;
}
.contact_form form {
  display: flex;
  flex-direction: column;
}

.contact_form .form__input {
  width: 100%;
  padding: var(--mb-2);
  border: 2px solid #eaeaea;
  color: var(--text-color);
  border-radius: var(--border-rd);
  margin-bottom: var(--mb-1);
  font-family: var(--body-font);
  /* font-size: var(--small-font-size); */
}

.form__input::placeholder {
  color: var(--light-text-color);
  font-family: var(--body-font);
}
.form__input:focus {
  border-color: var(--secondary-color);
}

.form__declaration {
  font-size: var(--smaller-font-size);
  font-weight: var(--font-regular);
}

.form__button {
  cursor: pointer;
  width: 50%;
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
  border: 2px solid var(--secondary-color);
  transition: all 0.3s;
  -webkit-transition:  all 0.3s;
  -moz-transition:  all 0.3s;
  margin-top: 1rem;
}

.form__button:hover {
  background-color: transparent;
  color: var(--secondary-color);
}

/* -------------------------------- footer --------------------------------- */

footer {
  background-color: var(--text-color);
  color: var(--tertiary-color);
  text-align: center;
}

.footer__container {
  padding: 2rem 0 1em;
}

.footer__title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1);
}
.footer__description {
  font-size: var(--small-font-size);
  font-weight: var(--font-light);
}

.footer__social {
  margin-bottom: var(--mb-6);
}

.footer__link {
  font-size: var(--icon-font-md-size);
  color: var(--primary-color);
  border: 2px solid var(--text-color);
  border-radius: var(--border-rd);
  padding: 0 6px;
  margin: 0 var(--mb-1);
  transition: 0.3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
}

.footer__link:hover {
  border-color: var(--secondary-color);
  color: var(--secondary-color);
}

.footer__email a {
  color: var(--tertiary-color);
  font-weight: var(--font-regular);
}

.footer__email a,
.footer__copy a {
  text-decoration: underline;
}

.footer__copy,
.footer__copy a {
  padding: var(--mb-1) 0;
  font-size: var(--smaller-font-size);
  font-weight: var(--font-light);
  color: var(--light-text-color);
  letter-spacing: 0.5px;
}

/* -------------------------------- media queries --------------------------------- */

@media screen and (min-width: 576px) {

  .qualification__container,
  .getstarted__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .about__img {
    max-width: 300px;
  }

  .about__container {
    display: flex;
    flex-direction: row;
  }

  .about__data {
    text-align: left;
  }

  .contact__form {
    width: 450px;
    justify-self: left;
  }
}

@media screen and (min-width: 765px) {
  :root {
    --biggest-font-size: 3rem;
    --h1-font-size: 2rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 0.9rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }

  body {
    margin: 0;
  }

  .section {
    padding: 6rem 0 4rem;
  }

  .section-title {
    margin-bottom: var(--mb-5);
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav__list {
    display: flex;
  }

  .nav__item {
    margin-left: var(--mb-5);
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }
  /* .home__container {
    height: 100vh;
    flex-direction: row;
  } */

  .home__data {
    margin: 20% 5%;
  }
  .button {
    font-size: var(--normal-font-size);
  }

  /* .home__social{
    margin-right: var(--mb-4);
    margin-bottom: 0;
  } */

  /* .home__img img {
    width: 440px;
  } */

  .about__img {
    width: 400px;
  }

  .getstarted__container {
    grid-template-columns: repeat(3, 1fr);
  }

  .contact__wrapper {
    flex-direction: row;
  }
}

@media screen and (min-width: 1024px) {
  .bd-container {
    margin-left: auto;
    margin-right: auto;
  }
}
